@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-anim-1 {
    @apply transform transition duration-200 ease-out hover:scale-90;
  }

  .hide_scrollbar {
    scrollbar-width: none;
  }
  .hide_scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .hide_scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .product_list_scrollbar {
    overflow: auto;
    scrollbar-width: none;
    /* scrollbar-color: #fbab28 transparent; */
    scroll-behavior: smooth;
    will-change: transform;
    cursor: pointer;
  }

  .product_list_scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .product_list_scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .product_list_scrollbar::-webkit-scrollbar-thumb {
    /* background-color: var(--secondary-color); */
    border-radius: 10px;
    background-clip: "padding-box";
    border: none;
  }

  .product_list_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .icon-button {
    @apply rounded-full  transition duration-150 hover:scale-90;
  }
  .action-btn {
    @apply icon-button rounded-md border-0 !bg-black !text-white px-2 py-1.5 text-center text-xs;
  }
  .nav-cards-btn {
    @apply absolute  bg-white border border-gray-300 shadow-md   z-0 inline-flex  items-center rounded-full  p-1.5 text-center text-[13px] font-medium;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
